
/*Основні*/
:root{
    --bgrd:#2E2F42;
    --active-color:#404BBF; 
    --iris:#4D5AE5;
    --cloud:#F4F4FD;
    --slate:#434455;
    --ocean:#404BBF;
    --cornflower:#E7E9FC;
    --main: #FFFFFF;}

    .section{width: 1128;}
*{box-sizing: border-box;}
        /* Cховати*/
        .visually-hidden {
            position: absolute;
            white-space: nowrap;
            width: 1px;
            height: 1px;
            overflow: hidden;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            margin: -1px;
        }
    
        /* Cховати перелік*/
        .hidden-dot {
            list-style-type: none; gap: 24px;
           
        }

 /*Контейнер*/
 .container {
                    max-width: 1158px;
                    margin: 0 auto;
                    padding: 0 15px;
                }


    
/*Хедер*/

.header {
    box-sizing: border-box;    
    text-decoration: none;
    background-color:var(--main); 
    padding-left:56px; display: flex;}

    .header-box {display: flex; padding: 24px 0;}
    .header-contacts {display: flex; margin-left: 175px; padding-right: 56px;}
    
.flex-header {display: flex;}
        .header-title {
            font-family: Raleway, sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.16;
            display: flex;
            align-items: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--bgrd);
            text-decoration: none;
            margin-right: 76px;
          
        
        }
    


    
        .header-title span {
            color: var(--iris);
        }

        .nav-link-list {display: flex;
            padding: 0;
            margin: 0;
        list-style-type: none;
            gap: 24px;
        }

/*Навігація*/
    .nav-link {
        text-decoration: none;
        color: var(--bgrd);
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            display: block;
            padding: 24px 0;
}
        .nav-link:hover,
        .nav-link:focus,
        .nav-link.current {
            color: var(--active-color);
        }
.address {margin-left: auto;}
.contacts-list {display: flex;
            list-style-type: none;
                gap: 24px;
                margin-top: 0;
                    margin-bottom: 0;
          
        }
    .contacts {
        text-decoration: none;
        color: var(--slate);
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            font-style: normal; 
            display: block;
            padding: 24px 0;}
       
.contacts:hover,
.contacts:focus {
    color: var(--active-color);
}


/*Основна інформація*/
.body-font {
    font-family:roboto,sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
}

/*Секція 1*/
.bgrd {background-color: var(--bgrd);padding: 188px 0;
    text-align: center;
    
  
}

.main-title
{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    display: flex;
color: var(--main); 
width: 494px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;


}

/*Кнопка*/

.button-style {
    font-family:inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--iris);
        color: var(--main);
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
        
        
}


/*Секція 2*/

.doing-head { font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.section {padding-left: 56px; padding-right: 56px;}

.doing-card {text-align: center;list-style-type: none; flex-basis: calc((1128-24*2)/3);}
.header-theme {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
color: var(--bgrd);
margin-bottom: 8px;


}
.flexbox {padding: 120px 0;
margin: 0;}
.style-sec {display: flex;
    gap: 24px;
   
    padding:0;}
.flexboxsec {
  padding-bottom: 120px;
}
.flex {display: flex;
    gap: 24px; 
    justify-content: center;
padding: 0;
margin: 0;}

.flexcard {display: flex;
    gap: 24px;
    padding: 0;}


/*Секція 3*/
.title-theme {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
margin-bottom: 72px;}

.team-theme {
    background-color: var(--cloud);

}


.card-theme
{
background: var(--main);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    list-style-type: none;
    flex-basis: calc((1128-3*24)/4);
   
}



.theme-names { font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
    }

        .theme-name {margin-top:0; margin-bottom:  8px;}
    .doing-content {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
    margin-bottom: 0px;
margin-top: 8px; border-radius: 0px 0px 4px 4px;
    }

    /*Portfolio*/
    .portfolio-body {
        font-family:roboto,sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--bgrd);  }
    
                        .portfolio-buttons {margin-bottom: 72px;}

    .portfolio-button {
        font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            background-color: var(--cloud);
            border: 1px solid --cornflower; border-radius: 4; 
        color: var(--iris);
    padding: 12px 24px;
border: none; border-radius: 4px;}

                .portfolio-button:hover,
                .portfolio-button:focus,
                .portfolio-button.current {
                    background-color: var(--active-color);
                    color: var(--main);
                }

                .porf-pad { padding-top: 96px; padding-bottom: 120px;}

 .portfolio-card {background:var(--main);}
 .card-content {color:var(--slate); margin-top: 8px;margin-bottom: o;}
      
.portfolio-card:nth-last-child(-n+3) {margin-bottom: 0px;}

/*Підвал*/
.footer-title {
    font-family:Raleway,sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.16;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--cloud);
        text-decoration: none;
        margin-bottom: 16px;
}
.footer-body {
color: var(--cornflower); max-width: 264px;}

.footer-title span 
{color: var(--iris);}

*,
*::before,
*::after {
    box-sizing: border-box;
}
.porfolio-flex {display:flex; flex-wrap:wrap; gap: 48px 24px; width:calc((1128px-2*20)/3);}
.footer-style {background-color: var(--bgrd); padding: 100px 0;}
.hidden-porf {list-style-type: none; padding: 0; margin: 0;}
.card-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 8px; 
}
.card-div {padding: 32px 0; text-align: center;}
.porf-div {
    padding: 32px 0 32px 16px;
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    border-bottom: 1px solid var(--cornflower);}
    
